.container-wipe {
  animation: 1.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-out-up both;
  transition: all 2.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.container-wipe > * {
  transform: translateY(-500px);
  transition: all 1s ease-in-out;
}
.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.intro {
  margin: auto;
  height: 50vh;
  width: 50vw;
}

.not-revealed {
  display: hidden;
  opacity: 0;
  color: #373638;
  height: 10vh;
  margin-bottom: 0vh;
  text-align: end;
  transform: rotate(180deg);
}

.revealed {
  transition: all 0.4s ease-in-out;
  opacity: 100;
  color: #373638;
  height: 10vh;
  text-align: end;
  margin-bottom: 10vh;
  transform: rotate(180deg);
  cursor: pointer;
}

@keyframes wipe-out-up {
  from {
    clip-path: inset(0 0 0 0);
  }
  to {
    clip-path: inset(0 0 100% 0);
  }
}

@media only screen and (max-width: 500px) {
  .intro {
    margin: auto;
    height: 70vh;
    width: 90vw;
  }
}
