.jobapply-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  padding: 0px 50px;
  justify-content: start;
<<<<<<< HEAD
  align-items: center;
=======
  align-self: start;
>>>>>>> 74beae702ae67f9be060a946353f15387a6e8da3
  overflow-y: scroll;
  position: relative;
  font-family: "GT Walsheim Pro";
}

.exit-jobapply {
  background-color: red;
  color: white;
  padding: 5px;
  border: 2px solid black;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.exit-jobapply:hover {
  background-color: white;
  color: red;
  border: 2px solid red;
}

.jobapply-application {
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  align-items: start;
  width: 70%;
  background-color: #4c607e;
  justify-content: space-around;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px grey;
  color: white;
=======
  width: 100%;
  justify-content: space-around;
  align-items: center;
>>>>>>> 74beae702ae67f9be060a946353f15387a6e8da3
}

.jobapply-inputrow {
  display: flex;
<<<<<<< HEAD
  flex-direction: Column;
  width: 50%;
  justify-content: center;
  align-items: start;
}

.jobapply-inputrow input {
  width: 70%;
  height: 30px;
  margin: 0px 10px;
=======
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.jobapply-inputrow input {
  width: 40%;
  height: 30px;
  margin: 10px;
>>>>>>> 74beae702ae67f9be060a946353f15387a6e8da3
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  font-family: "GT Walsheim Pro";
}

<<<<<<< HEAD
.jobapply-inputrow h3 {
  margin: 0px 10px;
  padding: 5px;
  text-wrap: nowrap;
}

.jobapply-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px 0px;
}

=======
>>>>>>> 74beae702ae67f9be060a946353f15387a6e8da3
.file-upload {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
  flex-wrap: wrap;
}

.jobapply-section-button {
  display: inline-block;
  position: relative;
  color: white;
  border: none;
  font-family: "GT Walsheim Pro";
  padding: 10px 20px;
  margin: 5px;
  font-size: 1em;
  text-wrap: nowrap;
  background-color: rgba(156, 168, 142, 1);
  cursor: pointer;
  transition: all 0.2s ease-in;
  border: 2px solid white;
}

.jobapply-section-button:hover {
  color: rgba(156, 168, 142, 1);
  background-color: white;
  border: 2px solid rgba(156, 168, 142, 1);
}

.jobapply-section-button::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: rgba(156, 168, 142, 1);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.jobapply-section-button:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media screen and (max-width: 800px) {
  .jobapply-application {
    width: 90%;
  }

  .jobapply-container {
    width: 95%;
    padding: 0px;
  }
  .jobapply-description {
    width: 95%;
  }
  .jobapply-description-title {
    width: 70%;
  }
=======
}

.file-upload button {
  margin: 10px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 15px;
  font-family: "GT Walsheim Pro";
  font-size: 1em;
  cursor: pointer;
  background-color: white;
  transition: all 0.2s ease-in;
}

.file-upload button:hover {
  background-color: rgb(156, 168, 142);
  color: white;
  border: 2px solid rgb(156, 168, 142);
}

.filesubmit-button {
  margin: 10px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 15px;
  font-family: "GT Walsheim Pro";
  font-size: 1em;
  cursor: pointer;
  background-color: white;
  transition: all 0.2s ease-in;
}

.filesubmit-button:hover {
  background-color: rgb(156, 168, 142);
  color: white;
  border: 2px solid rgb(156, 168, 142);
>>>>>>> 74beae702ae67f9be060a946353f15387a6e8da3
}
