@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Bungee&family=Kalnia&family=Montserrat&family=Playfair:opsz,wght@5..1200,300&family=Trirong:wght@300&display=swap");

.job-select-container {
  width: 100vw;
  height: 100vh;
  z-index: 0;
  background-color: #ffdab9;
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) circle-in-hesitate both;
  overflow: hidden;
  display: none;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.row-container {
  margin-top: 2vh;
  width: 70vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #36454f;
  border-radius: 20px;
  padding: 30px 0px;
  transition: all 0.5s ease-in;
  opacity: 0;
}
.listing-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 60vw;
  border: 2px solid #aaf0d1;
  border-radius: 20px;
  margin: 10px 0px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  background-color: #fce2cb;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.listing-container:hover {
  background-color: #aaf0d1;
}

.listing-title {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 50%;
  text-align: start;
  padding: 5px;
}
input[type="search"] {
  margin-top: 10vh;
  width: 0vw;
  height: 5vh;
  border: none;
  border-top: none;
  border-right: none;
  font-size: 1.4em;
  padding: 0px;
  transition: border 0.2s ease-in;
  transition: width 1s ease-in;
}

input[type="search"]:focus {
  outline: none;
  border: 5px solid #aaf0d1;
  border-top: none;
  border-right: none;
}
@keyframes circle-in-hesitate {
  0% {
    clip-path: circle(0%);
  }
  40% {
    clip-path: circle(40%);
  }
  100% {
    clip-path: circle(125%);
  }
}

[transition-style="in:circle:hesitate"] {
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) circle-in-hesitate both;
}

@media only screen and (max-width: 500px) {
  .row-container {
    height: 70vh;
  }
  .listing-container h1 {
    font-size: 1em;
  }

  .listing-container h2 {
    font-size: 1em;
  }
}
